
.navbar {
    position: fixed;
    top: 15px; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: rgba(0, 20, 50, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgb(251, 251, 0);
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 0.2rem;  
    z-index: 1000;
}

.navbar a {
  position: relative;
  width: auto;
  box-sizing: border-box;
  color: #ffd200;
  text-decoration: none;

  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;              
  font-size: 1.3rem;             
  letter-spacing: 2.5px;         
  text-transform: uppercase;
  padding: 0.75rem 1.2rem;
  border-radius: 999px;   
  transition: color 200ms ease, background-color 200ms ease;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 4px;
  width: 0;
  height: 3px;
  background: #ffd200;
  border-radius: 10px;
  transform: translateX(-50%);
  transition: width 200ms ease;
}

.navbar a:hover {
  color: #15418b;
  background: #fbcd00;
}

.navbar a:hover::after {
  width: 65%;
  background: #003da5;
}

.navbar a.activo {
  color: #ffffff;
}

.navbar a.activo:hover {
  color: #003da5;
}

.navbar a.activo::after {
  width: 65%;
}

@media (max-width: 768px) {

    .navbar {
        top: 10px;
        gap: 0.1rem;
        padding: 0.15rem;
        border-radius: 50px;
    }

    .navbar a {
        font-size: 1.1rem !important; /* SE SOBREPONE A OTRAS REGLAS SI ES Q CHOCAN*/
        letter-spacing: 1px;

        padding: 0.5rem 0.65rem !important;
        border-radius: 50px;
    }

    .navbar a::after {
        bottom: 3px;
        height: 2px;
    }

}